#page_header 
	span(class='highlight') About me.
#content
	p.text.
		My name is Jeff Balboni and I'm a web developer in the Johnson City, TN area. I grew up in Montana, spending too much time indoors on my computer rather than outside in the mountains. After high school I attended Montana State University in Bozeman and graduated with honors in Computer Science. Since then I have worked at <a href="http://www.zootweb.com">Zoot Enterprises</a>, <a href="http://www.montana.edu">Montana State University</a>, and <a href="http://www.twostep.com">Two Step Software</a> as a software engineer. 
	p.text.
		I currently do web development, though I have also done systems and database programming. I try to stick with open source technologies where I can, but I'm not opposed to using closed source technology that tries to be as open and supportive of web standards and the web community as it can. For example, my current employer uses Microsoft technology almost exclusively. C# and the .NET platform are solid technologies and lately with ASP.NET MVC, Microsoft has done a much better job of complying with web standards. This site, however, runs on Linux and Node.js, which you can read more about <a href="/work/balbonidev">here</a>.
	p.text.
		If you're interested in having me work on a project, feel free to contact me. Keep in mind that anything I would be working would be part-time, so I'm only interested in smaller projects. Things like web design and programming for small sites or fixing up existing sites are exactly the kinds of things I'm interested in. 
	p.text.
		You can look at my full resume on <a href="http://careers.stackoverflow.com/jbalboni">StackOverflow</a> or <a href="http://www.linkedin.com/profile/view?id=50714368">LinkedIn</a> (StackOverflow is more likely up to date). You can see some of my public work <a href="/work">here</a>.