#page_header 
	span(class='highlight') Contact me.
#content
	.imagelinks
		a(href="https://twitter.com/!#/jeffbalboni")
			img(src="/images/twitter_newbird_blue.png", class="twitter")
		a(href="http://www.linkedin.com/profile/view?id=50714368")
			img(src="/images/linkedin.png", class="linkedin", alt="linkedin")
	include contact_form