#page_header.home 
    span(class='highlight') Web development, 
    | straight to the point.
#content
    section#main_description
        hgroup: h2 Who I am
        section.text
            | My name is Jeff Balboni and I'm a web developer in the Johnson City, TN area. I've worked in the software industry for almost six years and have
            | a degree in Computer Science from Montana State University. I'm available for freelance web development on a part-time or volunteer basis. Take a look at 
            | my resume, some of my public work, or contact me if you have any questions.
