!!! 5
html
  head
    title= 'Balboni Dev'
    meta(name="viewport",content="initial-scale=1.0, width=device-width")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/javascripts/fancybox/jquery.fancybox-1.3.4.css')
    link(rel='stylesheet', type'text/css',href='/javascripts/gritter/css/jquery.gritter.css')
    //if lt IE 9
        script(src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")
    script(type='text/javascript', src='http://use.typekit.com/hsy1rer.js')
    script(type='text/javascript')
        try{Typekit.load();}catch(e){}
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.color.js')
    script(type='text/javascript', src='/javascripts/jquery.scrollTo-1.4.2-min.js')
    script(type='text/javascript', src='/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js')
    script(type='text/javascript', src='/javascripts/gritter/js/jquery.gritter.min.js')
    script(type='text/javascript')
        $(document).ready(function () {
            $("nav #menu li a").hover(function() {
                $(this).css("color","#000");
            }, function () {
                $(this).animate({
                color: '#aaa'
                }, 200, function() {
                    console.log("off");
                });
            });
            $("#contact_form_send").click(function () { 
                $.post("/contact/", $("#contact_form").serialize(),function (data) {
                    if (data.result != "success") {
                        var title = "Sorry"
                        var text = "There was a problem sending your message."
                    } else {
                        var title = "Success!"
                        var text = "Your message has been sent."
                    }
                    $.gritter.add({
                        title: title,
                        text: text
                    });
                }); 
                
                return false; 
            }
            );
            $("#scrollTop").click(function() { $(document).scrollTo("0px", 300); });
            $("a.work_images").fancybox();
        });
    script(type='text/javascript')
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30194412-1']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  body
    .wrapper
        .page
            nav
                ul#menu
                    li: a(href='/about') About
                    li: a(href='/contact') Contact
                    li: a(href='#') Blog
                    li: a(href='/work') Work
            header
                a(href='/')
                    #logo.
                        JB
            != body
        .push
    footer.full
        .divider
            .page 
                a(href="/",title="Home") 
                    img(src="/images/home.png")
                a#scrollTop(href="javascript:void(0);",title="Top") 
                    img(src="/images/arrow_up.png")
        footer.main
            .page
                section.left.
                    <h3>Contact</h3>
                    (423) 631-5990<br/>
                    <a href="mailto:jeff@speedkill.org">jeff@speedkill.org</a><br/>
                    <a href="https://twitter.com/#!/jeffbalboni">@jeffbalboni</a><br/>
                    <a href="http://www.linkedin.com/profile/view?id=50714368">Linked In</a><br/>
                section.left
                    h3 Site
                    a(href="/about") About
                    br
                    a(href="/contact") Contact
                    br
                    a(href="/work") Work
                    br
                    a(href="/blog") Blog
                section.left
                    h3 Tech
                    a(href="http://www.w3.org/html/") HTML5
                    br
                    a(href="http://expressjs.com") Express
                    br
                    a(href="http://nodejs.org") Node
                    br
                    a(href="http://linode.com") Linode
                    br
                    