/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* end reset */
html {
  height: 100%;
}
body {
  font-size: 130%;
  background-color: #f7f7f7;
  height: 100%;
  font-family: Georgia, serif;
  color: #333333;
}
@media screen and (max-width: 625px) {
  body {
    font-size: 100.10000000000001%;
  }
}
@media screen and (max-width: 320px) {
  body {
    font-size: 89.69999999999999%;
  }
}
.wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -4em;
}
.page {
  width: 90%;
  margin: auto;
  max-width: 960px;
}
.page nav {
  clear: both;
  top: 163px;
  margin-left: -200px;
  position: fixed;
  padding-left: 20px;
  text-transform: uppercase;
  text-align: right;
}
.page nav ul {
  width: 100%;
  display: inline-block;
  height: 100%;
  font-size: 110%;
}
.page nav ul li {
  font-size: 110%;
}
.page nav ul a {
  text-decoration: none;
  color: #aaa;
  font-family: "adelle";
  font-weight: 800;
  font-style: normal;
}
.page nav .nav_hover {
  color: #000;
}
@media screen and (max-width: 1400px) {
  .page nav {
    position: static;
    margin: 0px auto;
    text-align: center;
    padding: 10px 0px;
    width: 70%;
  }
  .page nav ul li {
    display: inline-block;
    width: 25%;
  }
}
@media screen and (max-width: 780px) {
  .page nav {
    width: 100%;
  }
  .page nav ul li {
    font-size: 90%;
  }
}
@media screen and (max-width: 320px) {
  .page nav {
    font-size: 90%;
  }
}
.page header {
  position: fixed;
  font-family: "adelle";
  margin-left: -180px;
}
.page header a {
  text-decoration: none;
}
.page header #logo {
  width: 150px;
  height: 120px;
  background: url('/images/jb-logo2.png') top left no-repeat;
  color: #fff;
  font-size: 90px;
  padding-left: 23px;
  padding-top: 38px;
}
.page header #logo img {
  max-width: 100%;
}
@media screen and (max-width: 320px) {
  .page header #logo {
    width: 75px;
    height: 60px;
    background: url('/images/jb_logo_mobile.png') top left no-repeat;
    color: #fff;
    font-size: 40px;
    padding-left: 14px;
    padding-top: 22px;
  }
}
@media screen and (max-width: 1400px) {
  .page header {
    position: static;
    width: 155px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 320px) {
  .page header {
    width: 77px;
  }
}
.page #page_header {
  padding: 63px 0px 0px;
  height: 100px;
  font-size: 2em;
  text-align: center;
  font-family: "adelle";
}
.page #page_header .highlight {
  color: #44dd44;
}
@media screen and (max-width: 1400px) {
  .page #page_header {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
  }
  .page #page_header.home {
    padding-bottom: 50px;
  }
}
.page #content {
  line-height: 1.2em;
  padding: 5px 10px;
}
.page #content .imagelinks {
  padding-bottom: 10px;
}
.page ul.bullet_points {
  margin-left: 0px;
}
.page ul.bullet_points li {
  background-image: url('/images/tick.png');
  background-repeat: no-repeat;
  background-position: 0px 0px;
  padding-left: 30px;
  line-height: 28px;
}
footer {
  font-family: arial, sans-serif;
  color: #777777;
}
footer.main {
  height: 85px;
  font-size: 75%;
  padding: 10px;
  line-height: 1.3em;
}
footer.bottom {
  background: #aaa;
  font-size: 65%;
  padding: 5px;
  line-height: 15px;
  color: #555;
}
footer a {
  color: #777777;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
footer section.right {
  float: right;
  width: 31%;
}
footer section.left {
  float: left;
  width: 31%;
}
@media screen and (max-width: 780px) {
  footer section.left {
    width: auto;
    padding-right: 10px;
    min-width: 25%;
  }
}
footer .divider {
  height: 50px;
  background-color: #e3e3e3;
  border-bottom: 5px solid #44cc44;
  margin-bottom: 10px;
  text-align: right;
}
footer .divider img {
  padding-top: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 780px) {
  footer .divider {
    height: 35px;
    border-bottom: 3px solid #44cc44;
    margin-bottom: 7px;
  }
  footer .divider img {
    padding-top: 7px;
    padding-right: 20px;
  }
}
footer.full,
.push {
  height: 105px;
}
.separator {
  border-top: 1px solid #ccc;
  border-bottom: 0px solid #FFF;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
}
hgroup h2 {
  font-size: 140%;
  color: #4C4;
  font-family: "adelle";
}
hgroup {
  padding-bottom: 10px;
}
#contact_form label {
  font-family: "adelle", sans-serif;
  font-size: 90%;
}
#contact_form input,
#contact_form textarea {
  font-size: 110%;
  margin-bottom: 10px;
  background-color: #fcfcfc;
  border: 1px solid #aaa;
  padding: 7px;
  font-family: inherit;
}
#contact_form textarea {
  width: 50%;
  height: 200px;
}
#contact_form button {
  display: inline-block;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #449944;
  background: #44cc44;
  background-image: linear-gradient(bottom, #44aa44 20%, #44bb44 50%, #44cc44 80%);
  background-image: -o-linear-gradient(bottom, #44aa44 20%, #44bb44 50%, #44cc44 80%);
  background-image: -moz-linear-gradient(bottom, #44aa44 20%, #44bb44 50%, #44cc44 80%);
  background-image: -webkit-linear-gradient(bottom, #44aa44 20%, #44bb44 50%, #44cc44 80%);
  background-image: -ms-linear-gradient(bottom, #44aa44 20%, #44bb44 50%, #44cc44 80%);
  color: white;
  font-family: "adelle", sans-serif;
  font-size: 90%;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  cursor: pointer;
}
#contact_form button:hover {
  background: #494;
  background-image: linear-gradient(bottom, #449944 20%, #44aa44 50%, #44bb44 80%);
  background-image: -o-linear-gradient(bottom, #449944 20%, #44aa44 50%, #44bb44 80%);
  background-image: -moz-linear-gradient(bottom, #449944 20%, #44aa44 50%, #44bb44 80%);
  background-image: -webkit-linear-gradient(bottom, #449944 20%, #44aa44 50%, #44bb44 80%);
  background-image: -ms-linear-gradient(bottom, #449944 20%, #44aa44 50%, #44bb44 80%);
  border: 1px solid #448844;
}
.contact {
  color: #444;
  font-size: 70%;
}
@media screen and (max-width: 780px) {
  .contact {
    display: block;
  }
}
img.twitter,
img.linkedin {
  height: 48px;
  margin: 5px;
}
p {
  display: block;
  padding: 10px 0px;
}
a {
  color: #44bb44;
}
a:hover {
  color: #33aa33;
}
h3 {
  color: #44aa44;
  font-weight: bold;
  font-family: "adelle", sans-serif;
  text-transform: uppercase;
}
img.thumbnail {
  border: 5px solid #e3e3e3;
  max-width: 47%;
  margin-right: 10px;
}
h4.work_date {
  font-size: 80%;
}
.text {
  text-align: justify;
  text-justify: inter-word;
}
input,
#contact_form textarea {
  width: 90%;
  max-width: 500px;
}
@media screen and (max-width: 780px) {
  input,
  #contact_form textarea {
    width: 90%;
  }
}
